@model List<APIMessages.CustomersEntity>

@{
    ViewBag.Title = "Customers";
}

<h2>List of customers from Web API</h2>
@*<ol>
    @foreach(var item in Model)
    {
        <li>@string.Format("{0} - {1} - {2} - {3}", item.id, item.name, item.longetude.ToString("0.0000"), item.latitude.ToString("0.0000"))</li>
    }
</ol>*@

<table class="table table-hover table-responsive table-striped">
    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:right"><b>Name</b></td>
            <td>@item.name</td>
        </tr>
        <tr>
            <td style="text-align:right"><b>Longetude</b></td>
            <td>@item.longetude.ToString()</td>
        </tr>
        <tr style="border-bottom-style:solid;border-bottom-color:black;border-bottom-width:2px;">
            <td style="text-align:right"><b>Latitude</b></td>
            <td>@item.latitude.ToString()</td>
        </tr>
        

    }

</table>

