@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    71 Waterford View Estate<br />
    Fourways<br />
    Johannesburg<br />
    Southe Africa<br />
    Terra Firma<br />
    Planet Earth<br />
    <abbr title="Phone">Mobile: </abbr>
    072 519 4799
</address>

<address>
    <strong>Up for a new job with FiveFriday:</strong>   <a href="mailto:Support@example.com">neilocv@gmail.com</a><br />
</address>